/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Asterisk overrides all styles. Low specificity so this can be easilly overridden*/
* {
    /*Color variables. Used to easily switch colors if needed. See comment related to darkmode on the bottom*/
    --background-color: #eff0f3;
    --background-color-2: #e2e4ec;
    --heading-color: #0d0d0d;
    --paragraph-color: #2a2a2a;
    --accent-color: #ff8e3c;
    --border-color: #2a2a2ae8;
    --shadow-color: #2a2a2a15;
    --overlay-color: #4b0000ad;

    /*Overrides default settings*/
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    /*Sets font for entire page. Easily overriden*/
    font-family: 'Roboto', sans-serif;
}

/*General Styles*/
body {
    /*Makes sure the page takes up at least the whole viewport*/
    min-height: 100vh;
    width: 100vw;
    /*Required to make the main content take up any unused space*/
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section {
    margin-bottom: 80px;
}

h1,
h2 {
    color: var(--heading-color);
    font-size: 2rem;
}

h3 {
    color: var(--heading-color);
    font-size: 16px;
}

h4 {
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 400;
}

p {
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--heading-color);
}

.icon-align-bottom {
    vertical-align: bottom;
}

.hidden {
    display: none;
}

/*Elements with this class will be hidden on desktop*/
.desktop-hidden {
    display: inherit;
}

/*Applies a slightly lighter color*/
.background-color-2 {
    background-color: var(--background-color-2);
}

.center {
    display: flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}

/*As a general rule, unrelated paragraph and headings should have 2x the margin as related ones*/
/*This makes it easier to distinguish the related and unrelated sections in larger blocks of texts*/
.text-margin-x1 {
    margin-top: 1rem;
}

.text-margin-x2 {
    margin-top: 2rem;
}

.lined-heading {
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    text-decoration-color: var(--heading-color);
}

.lined-heading h2 {
    font-size: 1.5rem;
}

/*Header*/
header {
    background-color: var(--background-color);
    padding: 5px 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;

    border-bottom: var(--border-color) solid 2px;
    box-shadow: 0px 1px 5px 5px var(--shadow-color);
}

/*Navbar styles*/
/*Generic elements*/
nav {
    /*Doesn't display by default*/
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    transition: all 0.3s;
    align-items: flex-end;
}

/*IDs*/
#active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
    text-decoration-color: var(--heading-color);
}

#logo-text {
    font-size: 1.2em;
    margin-left: 5px;
    width: 70px;
    margin-top: 0;
    color: var(--heading-color);
}

#logo {
    margin-left: 10px;
    height: 3em;
}

#logo a {
    display: inline-block;
    height: 0;
}

#logo a img {
    width: 3em;

}

#menu {
    width: 100%;
    text-align: right;
    background-color: var(--background-color);
    border-radius: 0 0 10px 10px;
    border-bottom: var(--border-color) solid 2px;
    box-shadow: 0px 1px 5px 5px var(--shadow-color);
}

#menu li {
    border-top: var(--border-color) solid 2px;
    padding: 10px;
}

#menu li h3 {
    margin: 0;
    width: 100%;
}

#menu li a {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

#hamburger-menu-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10px;
}


#hamburger-menu-icon span {
    font-size: 3em;
    color: var(--heading-color);
}

#hamburger-menu-toggle:checked~nav {
    /*Menu displays when the checkbox is pressed*/
    display: block;
    top: 100%;
    transition: all 0.3s;
}

/*Main content*/
/*General styles*/
main {
    background-color: var(--background-color);
    /*Makes the main element take up any unused space*/
    flex: 1 0 auto;
    /*Pushes the content under the header*/
    padding-top: 60px;
}

/*index.html styles*/
/*Classes*/
.hero-image-overlay {
    background-image: linear-gradient(to right, var(--overlay-color), rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
}

.hero-button-container {
    display: flex;
    max-width: 500px;
    padding-bottom: 25px;
}


.hero-button h4 {
    width: fit-content;
    margin-top: 2rem;
    margin-right: 15px;
    padding: 10px;
    background-color: #eff0f3;
    color: #0d0d0d !important;
    font-weight: bold;
    border-radius: 15px;
    /*Hover effect*/
    transition: all 0.2s ease-out;
}

/*Hover effect*/
.hero-button:hover h4 {
    transform: scale(1.1);
    border-radius: 20px;
    transition: all 0.2s ease-out;
}

.mission-item {
    width: 200px;
    aspect-ratio: 1;
    filter: brightness(50%);
    border-radius: 10px;
    border: 3px solid #0d0d0d;
    background-color: var(--accent-color);
    margin: 40px;
    background-size: 150%;
    background-position: center;
    /*Transition on hover*/
    transition: all 0.5s ease-out;
}

div .mission-item:nth-child(1) {
    background-image: url("../images/leopard_gecko_index_care.jpg");
}

div .mission-item:nth-child(2) {
    background-image: url("../images/leopard_gecko_index_why.jpg");
    background-position: 30%;

}

div .mission-item:nth-child(3) {
    background-image: url("../images/leopard-gecko-index-rescue.jpg");
    background-position: 10%;
}

/*Hover effect*/
.mission-item:hover{
    background-size: 200%;
    filter: brightness(20%);
    transition: all 0.5s ease-out;
}

/*IDs*/
#hero {
    width: 100%;
    /*background*/
    background: url("../images/hero.webp") center center/cover;
    /*Fallback in case image doesn't load*/
    background-color: var(--accent-color);
    border-bottom: 2px solid var(--border-color);
}

#hero-text {
    max-width: 500px;
    width: 90%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    color: #0d0d0d;
}

#hero-text h2,
#hero-text h4 {
    color: #eff0f3;
}


#mission {
    height: fit-content;
}

#mission-item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*404 page styles*/

#section-404 {
    margin: 50px;
}

#text-404 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
}

#image-404 {
    margin-top: 20px;
    height: 100%;
    display: grid;
    align-items: center;
}


#image-404 img {
    width: 100%;
    height: 100%;
    padding: 5px;
    aspect-ratio: 10/7;
    border: var(--heading-color) solid 2px;
    object-fit: cover;
}

#button-404 {
    text-align: center;
    margin-top: 2em;
    font-size: 1.2em;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--accent-color);
    transition: all 0.3s ease-out;
}

#button-404:hover {
    border-radius: 15px;
    transition: all 0.3s ease-out;
    transform: scale(1.1);
}


/*Footer*/
/*Generic elements*/
footer {
    background-color: var(--background-color);
    border-top: 2px solid var(--border-color);
}

footer hr {
    width: 90%;
    align-self: center;
    margin: auto;
    border-bottom: 2px solid var(--paragraph-color);
}

/*Classes*/

.social-media-item {
    text-align: center;
    margin: auto 5px;
    transition: transform 0.2s;
}

/*Ids*/

/*Social media links*/
#social-media {
    max-width: 400px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 40px;
}

#social-media i {
    font-size: 2em;
}

/*Contact and location*/

#info-footer,
#location-footer {
    margin: 15px;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 32px;
}

#info-footer h3,
#location-footer h3 {
    margin-bottom: 5px;
}

#info-footer a,
#location-footer a {
    display: flex;
    align-items: flex-end;
}


/*For screens larger than 992px*/
@media screen and (min-width: 992px) {

    /*General styles*/
    /*Elements with this class will be hidden on desktop*/
    .desktop-hidden {
        display: none;
    }

    /*Navigation bar*/
    nav {
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        justify-content: right;
    }

    /*Classes*/
    .nav-item {

        /*Transition settings*/
        text-underline-offset: 0;
        transition: all 0.2s;
    }

    /*When you hover over the element these properties will change. Applies to #active to override*/
    .nav-item:hover {

        transform: scale(1.2) translateY(-8px);
        /*Transition settings*/
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
    }

    .nav-item h3 {
        /*Some fancy hover effect transition*/
        text-decoration: underline;
        text-decoration-color: #0d0d0d00;
        text-decoration-thickness: 3px;
        transition: all 0.2s;
    }

    .nav-item:hover h3,
    #active:hover {
        /*Some fancy hover effect transition*/
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 7px;
        text-decoration-color: var(--heading-color);
        transition: all 0.3s;
    }

    /*IDs*/
    #menu {
        display: flex;
        border: none;
        box-shadow: none;
        width: fit-content;
    }

    #menu li {
        border: none;
    }

    #menu li h3 {
        margin-right: 3px;
    }

    /*Main*/


    /*404 styles*/
    #image-404 {
        margin: 0 30%;
        margin-top: 20px;
    }

    #text-404 {
        font-size: 2em;
        text-align: center;
    }

    /*Footer styles*/
    /*Classes*/
    /*Makes the icons grow slightly whn hovered over*/
    .social-media-item:hover {
        transform: scale(1.2) translateY(-5px);
    }

    /*IDs*/
    #info-location-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #info-footer {
        justify-content: right;
        min-width: 150px;
        margin-right: 100px;
        margin-bottom: 25px;
    }

    #info-footer h3 {
        height: fit-content;
    }

    #info-footer a {
        height: fit-content;
        margin-top: 0.5rem;
    }

    #location-footer {
        min-width: 150px;
        margin-left: 100px;
        margin-bottom: 25px;
    }
}

/*If user has darkmode selected on their device the site will appear in dark colors. This works by changing
the color variables declared above. Accent stays the same*/
@media (prefers-color-scheme: dark) {
    * {
        --background-color: #16161a;
        --background-color-2: #1a1a1f;
        --heading-color: #fffffe;
        --paragraph-color: #94a1b2;
        --border-color: #0c0c0ce8;
        --shadow-color: #07070715;
    }
}