/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Asterisk overrides all styles. Low specificity so this can be easilly overridden*/
* {
    /*Color variables. Used to easily switch colors if needed. See comment related to darkmode on the bottom*/
    --background-color: #eff0f3;
    --background-color-2: #e9d6c9;
    --heading-color: #0d0d0d;
    --paragraph-color: #2a2a2a;
    --paragraph-color-2: #1b1b1b;
    --accent-color: #bb3e1f;
    --border-color: #2a2a2ae8;
    --shadow-color: #2a2a2a15;
    /*Overlays. Used to create more contrast between elements, especially images*/
    --overlay-color: #4b0000ad;
    --darken-color: rgba(0, 0, 0, 0.7);


    /*Overrides default settings*/
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    /*Sets font for entire page. Easily overriden*/
    font-family: 'Roboto', sans-serif;
}

/*General Styles*/
body {
    /*Makes sure the page takes up at least the whole viewport*/
    min-height: 100vh;
    width: 100vw;
    /*Required to make the main content take up any unused space*/
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*Each section by default will have a margin to create space for better readability*/
section {
    margin-bottom: 80px;
}

/*H1 is used exclusively for the logo text*/
h1,
h2 {
    color: var(--heading-color);
    font-size: 2rem;
}

h3 {
    color: var(--heading-color);
    font-size: 1.5rem;
}

h4 {
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 400;
}

p {
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--heading-color);
}

hr {
    height: 2rem;
}

/*General classes that can be used all over*/
.icon-align-bottom {
    vertical-align: bottom;
}

.hidden {
    display: none;
}

/*Elements with this class will be hidden on desktop*/
.desktop-hidden {
    display: inherit;
}

/*Applies a slightly lighter color*/
.background-color-2 {
    background-color: var(--background-color-2);
    padding: 1rem;
}

.center {
    display: flex;
    justify-content: center;
}

/*Appplies display:flex to the item and centers the content vertically*/
.vertical-center-flex {
    display: flex;
    align-content: center;
}

.center-text {
    text-align: center;
}

/*Text with this class will be white*/
.white {
    color: #eff0f3;
    text-decoration-color: #eff0f3;
    border-color: #eff0f3 !important;
}

/*As a general rule, unrelated paragraph and headings should have 2x the margin as related ones*/
/*This makes it easier to distinguish the related and unrelated sections in larger blocks of texts*/
.text-margin-x1 {
    margin-top: 1rem;
}

.text-margin-x2 {
    margin-top: 2rem;
}

/*Used on the hero image texts to make them a specific style*/

.lined-heading{
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

/*An overlay that darkens the color*/
.darker {
    background-color: var(--darken-color);
    width: 100%;
    height: 100%;
}


/*Header*/
header {
    background-color: var(--background-color);
    padding: 5px 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;

    border-bottom: var(--border-color) solid 2px;
    box-shadow: 0px 1px 5px 5px var(--shadow-color);
}

/*Navbar styles*/
/*Generic elements*/
nav {
    /*Doesn't display by default*/
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    transition: all 0.3s;
    align-items: flex-end;
}

/*IDs*/
/*The page the user is currently on will be underlined in the navbar*/
#active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
    text-decoration-color: var(--heading-color);
}

/*The text next to the logo*/
#logo-text {
    font-size: 1.2em;
    margin-left: 5px;
    width: 70px;
    margin-top: 0;
    color: var(--heading-color);
}

#logo {
    margin-left: 10px;
    height: 3em;
}

/*Used on logo links to redirect to the home page*/
#logo a {
    display: inline-block;
    height: 0;
}

#logo a img {
    width: 3em;
}

/*Exclusive to the logo image at the bottom of the about us page*/
#logo-about-section {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 80px;
}

/*Container of the navbar items*/
#menu {
    width: 100%;
    text-align: right;
    background-color: var(--background-color);
    border-radius: 0 0 10px 10px;
    border-bottom: var(--border-color) solid 2px;
    box-shadow: 0px 1px 5px 5px var(--shadow-color);
}

#menu li {
    border-top: var(--border-color) solid 2px;
    padding: 10px;
}

#menu li h3 {
    margin: 0;
    width: 100%;
}

#menu li a {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

/*Uses flex to position the hamburger menu correctly*/
#hamburger-menu-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10px;
}

/*Hambrurger icon style*/
#hamburger-menu-icon span {
    font-size: 3em;
    color: var(--heading-color);
}

/*Checking the hamburger menu box will style the navbar*/
#hamburger-menu-toggle:checked~nav {
    /*Menu displays when the checkbox is pressed*/
    display: block;
    top: 100%;
    transition: all 0.3s;
}

/*Main content*/
/*General styles*/
main {
    background-color: var(--background-color);
    /*Makes the main element take up any unused space*/
    flex: 1 0 auto;
    /*Pushes the content under the header*/
    padding-top: 60px;
}

/*index.html styles*/
/*Classes*/
/*Used to keep the sections in a certain place and within a certain width*/
.text-container {
    display: block;
    width: 100%;
    height: min-content;
}

/*Creates a gradient that makes the home page hero text easier to read*/
.hero-image-overlay {
    background-image: linear-gradient(to right, var(--overlay-color), rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
}

/*Buttons within the hero section*/
.hero-button-container {
    display: flex;
    max-width: 500px;
    padding-bottom: 25px;
}

/*Styles the hero button*/
.hero-button h4 {
    width: fit-content;
    margin-top: 2rem;
    margin-right: 15px;
    padding: 10px;
    background-color: #eff0f3;
    color: #0d0d0d !important;
    font-weight: bold;
    border-radius: 15px;
    /*Hover effect*/
    transition: all 0.2s ease-out;
}

/*Hover effect*/
.hero-button:hover h4 {
    transform: scale(1.1);
    border-radius: 20px;
    transition: all 0.2s ease-out;
}

/*The three redirects on the home page about the most important features of the site*/
.mission-item {
    min-width: 200px;
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 3px solid #0d0d0d;
    background-color: var(--accent-color);
    margin: 40px;
    background-size: 160%;
    background-position: center;
    /*Transition on hover*/
    transition: all 0.5s ease-out;
}

/*Sets a different background for each mission button. Some have an altered background position*/
div .mission-item:nth-child(1) {
    background-image: url("../images/leopard_gecko_index_care.jpg");
}

div .mission-item:nth-child(2) {
    background-image: url("../images/leopard_gecko_index_why.jpg");
    background-position: 30%;

}

div .mission-item:nth-child(3) {
    background-image: url("../images/leopard-gecko-index-rescue.jpg");
    background-position: 10% 10%;
}

/*Hover effect*/
.mission-item:hover {
    background-size: 200%;
    transition: all 0.5s ease-out;
}

/*Everything in the div that is a child of the button will have a padding*/
.mission-item div * {
    padding: 0.5rem;
}

/*Overrides the default colors of the text within these buttons*/
.mission-item div p,
.mission-item div h2 {
    color: #eff0f3;
}

.mission-button h3 {
    color: #eff0f3;
}

/*Used on parent elements to images to put them in the center*/
.image-grid {
    height: 100%;
    display: grid;
    justify-items: center;
}

.image-grid img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 5px;
    aspect-ratio: 10/7;
    border: var(--heading-color) solid 4px;
    object-fit: cover;
}

/*IDs*/
#hero {
    width: 100%;
    /*background*/
    background: url("../images/hero.webp") center center/cover;
    /*Fallback in case image doesn't load*/
    background-color: var(--accent-color);
    border-bottom: 2px solid var(--border-color);
}

#hero-text {
    max-width: 500px;
    width: 90%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    color: #0d0d0d;
}

/*Overrides the text colors of the hero element*/
#hero-text h2,
#hero-text h4 {
    color: #eff0f3;
}

#mission {
    height: fit-content;
}

#mission-item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*A mini about section*/
#who-we-are-container {
    display: flex;
    justify-content: center;
}

#who-we-are {
    background-color: var(--accent-color);
    padding-top: 30px;
}

#who-we-are a h3 {
    margin-top: 30px;
    background-color: #eff0f3;
    color: #0d0d0d;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    /*Transition settings*/
    transition: all 0.2s;
}

/*Animates on hover*/
#who-we-are a h3:hover {
    border-radius: 30px;
    transform: scale(1.1);
    /*Transition settings*/
    transition: all 0.2s;
}

/*Makes the image display on top on mobile and on the side on desktop*/
#who-we-are-grid div {
    margin: 30px;
    margin-top: 0;
}

#who-we-are-image img {
    max-width: 400px;
}

/*Guide page styles*/
/*Classes*/
/*Button effects*/
.link-button {
    height: 24px;
    box-sizing: content-box;
    font-size: 1.2em;
    max-width: 90%;
    margin: 1rem;
    margin-left: 0;

    transition: all 0.3s ease-out;
}

.link-button:hover {
    border-radius: 15px;
    margin-left: 1rem;
    transition: all 0.3s ease-out;
}

/*The arrow will not show unless the link is hovered*/
.link-button-arrow {
    display: none;
}

/*Uses the margin to move the text to the right on hover*/
.link-button-text {
    height: 28px;
    margin-right: 0;
    transition: all 0.3s ease-out;
}

.link-button:hover .link-button-text {
    margin-right: 10px;
    transition: all 0.3s ease-out;
}

/*makes the arrow and text sit on the same line*/
.link-button:hover>a span {
    display: inline;
}

/*Section styling specifically for the guide page*/
.guide-section {
    background-color: var(--background-color-2);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 1px 5px 5px var(--shadow-color);
}

.guide-section p {
    margin-top: 1rem;
}

.guide-section img {
    width: 100%;
    max-width: 400px;
    float: right;
    border: 4px solid var(--heading-color);
    margin: 1rem 0;
}

/*IDs*/
/*Aligns the buttons slightly to the right*/
#link-button-container {
    margin-left: 2rem;
}

#guide-intro {
    margin: 80px 1rem;
}


/*Our leos page style*/
/*Styles specifically for the adoption page, aka our_leos.html*/
.adoptable-section {
    margin: 4rem auto;
    max-width: 600px;
    background-color: var(--background-color-2);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 1px 5px 5px var(--shadow-color);
}

.adoptable-section p {
    margin: 1rem;
}

.adoptable-section img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border: 4px solid var(--heading-color);
    margin: 1rem 0;
}

/*The little labels inside the section telling the user about the 
age, name, gender and morph of the specific gecko*/
.adoptable-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem;
}

.adoptable-section ul li {
    font-size: 1.1rem;
    color: var(--heading-color);
    margin: 5px 0;
    padding: 5px 7px;
    background-color: var(--accent-color);
    border-radius: 15px;
}

/*Contact forms*/

input,
textarea {
    margin: 0.5rem 0;
}

/*Styles for the submit button*/
input[type=submit] {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
    margin-top: 2rem;
    border-radius: 15px;
    background-color: var(--accent-color);
    color: #eff0f3;
    transition: all 0.2s;
}

input[type=submit]:hover {
    border-radius: 20px;
    transition: all 0.2s;
}

/*Text input fields will be limited in length and styled*/
input[type=text],
textarea {
    height: 2rem;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    border: 2px solid var(--heading-color);
}

textarea {
    height: 5rem;
}

/*Tutorial for cutom radio buttons from here: https://moderncss.dev/pure-css-custom-styled-radio-buttons/*/
input[type=radio] {
    vertical-align: bottom;
    margin: 0;
    margin-bottom: 3px;
    margin-right: 4px;
    appearance: none;
    width: 1.3em;
    height: 1.3em;
    border: 2px solid var(--heading-color);
    border-radius: 50%;
    transition: all 0.2s;
}

input[type=radio]:checked {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 30%;
    transition: all 0.2s;
}

/*The container of the form*/
.contact-form {
    background-color: var(--background-color-2);
    padding: 2rem;
    border-radius: 15px;
}

/*Makes them display on new lines*/
.contact-form form,
.contact-form form textarea {
    display: block;
}

/*Gives some space between the button and label elements. Used on divs containing the radio button and it's labels*/
.radio-button {
    margin-top: 1rem;
}

/*Makes the label show next to the button*/
.radio-button h4 {
    font-size: 1.3em;
    display: inline;
}

/*404 page styles*/

#section-404 {
    margin: 50px;
}

#text-404 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
}

#image-404 {
    margin-top: 20px;
}

/*The button that takes you back to the home page*/
#button-404 {
    text-align: center;
    margin-top: 2em;
    font-size: 1.2em;
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--accent-color);
    transition: all 0.3s ease-out;
}

#button-404:hover {
    border-radius: 15px;
    transition: all 0.3s ease-out;
    transform: scale(1.1);
}


/*Footer*/
/*Generic elements*/
footer {
    background-color: var(--background-color);
    border-top: 2px solid var(--border-color);
}

/*The divider at the footer*/
footer hr {
    width: 90%;
    align-self: center;
    margin: auto;
    border-bottom: 2px solid var(--paragraph-color);
}

/*Classes*/
/*The socials links in the footer*/
.social-media-item {
    text-align: center;
    margin: auto 5px;
    transition: transform 0.2s;
}

/*Ids*/

/*Social media links*/
#social-media {
    max-width: 400px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 40px;
}

/*Styles the icons*/
#social-media i {
    font-size: 2em;
}

/*Contact and location*/
/*The containers for the information boxes in the footer*/
#info-footer,
#location-footer {
    margin: 15px;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 32px;
}

#info-footer h3,
#location-footer h3 {
    margin-bottom: 5px;
}

#info-footer a,
#location-footer a {
    display: flex;
    align-items: flex-end;
}

/*Media Query: Tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Main*/
    .text-container {
        display: block;
        width: 80%;
        height: min-content;
        max-width: 1100px;
        padding-bottom: 2rem;
        margin: 2rem auto;
    }

    /*On desktop it will have round corners. On mobile it conencts to the sides*/
    .background-color-2 {
        background-color: var(--background-color-2);
        padding: 2rem;
        border-radius: 30px;
    }

    /*Mini about us section at the home page*/
    #who-we-are {
        /*Sizing*/
        width: 100%;
        max-width: 760px;
        margin: 0 20px;
        padding: 30px 0;
        border-radius: 15px;
    }

    #who-we-are-grid {
        /*grid stuff*/
        display: grid;
        height: fit-content;
        grid-template-columns: repeat(2, 1fr);
    }

    #who-we-are-grid div {
        margin: 0px 30px;
        padding-top: 30px;
    }

    #who-we-are-image img {
        max-width: 310px;
    }
}

/*For screens larger than 992px*/
@media screen and (min-width: 992px) {

    /*General styles*/
    /*Elements with this class will be hidden on desktop*/
    .desktop-hidden {
        display: none;
    }

    /*Navigation bar*/
    /*On tablets the hamburger menu will be replaced by elements that follow each other*/
    nav {
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        justify-content: right;
    }

    /*Classes*/
    .nav-item {

        /*Transition settings*/
        text-underline-offset: 0;
        transition: all 0.2s;
    }

    /*When you hover over the element these properties will change. Applies to #active to override*/
    .nav-item:hover {

        transform: scale(1.2) translateY(-8px);
        /*Transition settings*/
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
    }

    .nav-item h3 {
        /*Some fancy hover effect transition*/
        text-decoration: underline;
        text-decoration-color: #0d0d0d00;
        text-decoration-thickness: 3px;
        transition: all 0.2s;
    }

    .nav-item:hover h3,
    #active:hover {
        /*Some fancy hover effect transition*/
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 7px;
        text-decoration-color: var(--heading-color);
        transition: all 0.3s;
    }

    /*IDs*/
    /*Links will appear in a row*/
    #menu {
        display: flex;
        border: none;
        box-shadow: none;
        width: fit-content;
    }

    #menu li {
        border: none;
    }

    #menu li h3 {
        margin-right: 3px;
    }

    #hamburger-menu-container {
        display: none;
    }

    /*Main*/
    /*404 styles*/
    #image-404 {
        margin: 0 30%;
        margin-top: 20px;
    }

    #text-404 {
        font-size: 2em;
        text-align: center;
    }

    /*Footer styles*/
    /*Classes*/
    /*Makes the icons grow slightly when hovered over*/
    .social-media-item:hover {
        transform: scale(1.2) translateY(-5px);
    }

    /*IDs*/
    /*Contact and location*/
    /*The containers for the information boxes in the footer*/
    #info-location-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #info-footer {
        justify-content: right;
        min-width: 150px;
        margin-right: 100px;
        margin-bottom: 25px;
    }

    #info-footer h3 {
        height: fit-content;
    }

    #info-footer a {
        height: fit-content;
        margin-top: 0.5rem;
    }

    #location-footer {
        min-width: 150px;
        margin-left: 100px;
        margin-bottom: 25px;
    }
}

/*If user has darkmode selected on their device the site will appear in dark colors. This works by changing
the color variables declared above. Accent stays the same*/
@media (prefers-color-scheme: dark) {
    * {
        --background-color: #16161a;
        --background-color-2: #1a1a1f;
        --heading-color: #fffffe;
        --paragraph-color: #94a1b2;
        --paragraph-color-2: #e6eefa;
        --border-color: #0c0c0ce8;
        --shadow-color: #07070715;
    }
}