/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Asterisk overrides all styles. Low specificity so this can be easilly overridden*/
* {
    /*Color variables. Used to easily switch colors if needed. See comment related to darkmode on the bottom*/
    --background-color: #eff0f3;
    --heading-color: #0d0d0d;
    --paragraph-color: #2a2a2a;
    --accent-color: #ff8e3c;
    --border-color: #2a2a2ae8;
    --shadow-color: #2a2a2a15;

    /*Overrides default settings*/
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    /*Sets font for entire page. Easily overriden*/
    font-family: 'Roboto', sans-serif;
}

/*General Styles*/
body{
    /*Makes sure the page takes up at least the whole viewport*/
    min-height: 100vh;
    /*Required to make the main content take up any unused space*/
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--heading-color);
    font-size: 30px;
}

h2 {
    color: var(--heading-color);
    font-size: 16px;
    margin-top: 1rem;
}

p {
    color: var(--paragraph-color);
    font-size: 16px;
    margin-top: 0.5rem;
    font-weight: 400;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--heading-color);
}

.icon-align-bottom{
    vertical-align: bottom;
}

/*Header*/
header{
    background-color: lightblue;

    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

nav{
    /*Doesn't display by default*/
    display: none;

    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}

#menu{
    width: 100%;
    text-align: right;
}

#menu li h2{
    margin: 0;
    width: 100%;
}

#menu li a{
    display: flex;
    align-items: flex-end;
}

#hamburger-menu-toggle:checked ~ nav{
    /*Menu displays when the checkbox is pressed*/
    display: block;
}

/*Main content*/
main{
    background-color: lightcoral;
    /*Makes the main element take up any unused space*/
    flex: 1 0 auto;
}

/*Footer*/
footer{
    background-color: lightgreen;
}